<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="softserve" sortOrder="10">
            <label>Softserve</label>
        </tab>
        <section id="seller" translate="label" type="text" sortOrder="10" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <label>Seller</label>
            <tab>softserve</tab>
            <resource>Softserve_Seller::seller</resource>
			<group id="general_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>General settings</label>
                <field id="tab_name" translate="label" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Seller tab name for Product page</label>
                </field>
                <field id="review_enabled" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Is seller review enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="advanced_settings" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Sellersdata available via api</label>
                <field id="tab_name" translate="label" type="multiselect" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Seller tab name for Product page</label>
                    <source_model>Softserve\Seller\Model\Config\Source\Options</source_model>
                </field>
                <field id="api_seller_enabled" translate="label" type="select" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Add seller info to product and order via API</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
